/* bootstrap styles */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

/* esri styles */
@import url('https://js.arcgis.com/4.3/esri/css/main.css');

/* app styles */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.esri-view {
  height: 400px;
  width: 100%;
}
